<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>hw5Lesson17.CompareValuesTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>compareSameStrings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareTwoStrings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findElemInArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareRandomInts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareSameInts</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
