<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ee3a2">  <td>20/03/15 15:42:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareValuesTest.compareRandomInts()[pri:0, instance:hw5Lesson17.CompareValuesTest@7334aada]">compareRandomInts</td> 
  <td>main@320304382</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>20/03/15 15:42:16</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareValuesTest.compareSameInts()[pri:0, instance:hw5Lesson17.CompareValuesTest@7334aada]">compareSameInts</td> 
  <td>main@320304382</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>20/03/15 15:42:16</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareValuesTest.compareSameStrings()[pri:0, instance:hw5Lesson17.CompareValuesTest@7334aada]">compareSameStrings</td> 
  <td>main@320304382</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>20/03/15 15:42:16</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareValuesTest.compareTwoStrings()[pri:0, instance:hw5Lesson17.CompareValuesTest@7334aada]">compareTwoStrings</td> 
  <td>main@320304382</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>20/03/15 15:42:16</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareValuesTest.findElemInArray()[pri:0, instance:hw5Lesson17.CompareValuesTest@7334aada]">findElemInArray</td> 
  <td>main@320304382</td>   <td></td> </tr>
</table>
